.suspenseDiv {
    display: flex;
    justify-content: center;
    
}

.loadingGif {
   width: 100px;
}

.lodingDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.loadingBtn {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 50%;
    background-color: #d03e19;
    color: #fff;
    padding: 10px;
    border: transparent;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 2px 2px 5px  rgba(0, 0, 0, .5);
}