.progressBar {
    margin: 20px 20px;
    font-size: 22px;
    width: 500px;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    height: 26px;
    overflow: hidden;
    
}

#percentProgBar {
    border: 1px solid black;
    padding: 0;
    height: 30px;
    width: 50px;
    font-size: 20px;
}

.pbarDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.progressPercent {
    background: linear-gradient(to left,#FF0000, #FF5A00);
    border: 1px transparent;
    border-radius: 15px;
    height: 26px;
}

.percentNumberProg {}